* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.elem-1-text-and-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
}

.elem-2-image {
  /* height: 33vh; */
}

.elem-3-social-media-and-copyright {
}

input.email-input:focus {
  outline-width: 0;
}

.email-input {
  margin: 10px;
  font-size: 1.25em;
  border-radius: 20px;
}

.email-form {
  height: 2.5vh;
  width: 325px;
  padding: 10px;
}

.email-button {
  height: 5vh;
  width: 175px;

  background-color: blue;
  color: white;

  transition: all 0.2s;
}

.email-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.email-button:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.svg-logo-container {
  flex-basis: 25%;
}

.svg-logo {
  width: 100px;
}

.top-text-1 {
  font-size: 2.5em;
}

.top-text-1-left-side {
  color: gray;
}

.top-text-1-right-side {
  font-weight: bold;
}

.top-text-2 {
  font-size: 1.2em;
}

.email-section {
  display: flex;
  align-items: center;
  flex-basis: 30%;
}

.large-image {
  max-height: 40vh;
}

.social-media-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5vh;
}

.social-media-icon {
  height: 3vh;
}

.copyright-text {
  font-size: 0.7em;
  color: gray;
}
